<% provide(:title, 'About Us') %>

<div class="container">
	<div class="row">
		<div class="span8">
			<br>
			<br>
			<br>
			<h3>WHO WE ARE</h3>
			<br>
		</div>
		<div class="span8 offset1">
			<p><strong>We are a united group of persons with all types of disability, across the district of Tiruvannamalai situated in the Tamil Nadu state of India. We live and work for the rights of persons with disabilities, promoting equal opportunity, inclusive development and dignified life.
			</strong></p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="span8">
			<h3>What We Stand For</h3>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="span2">
			<h4>Our Vision</h4>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<p><strong>“Every person with disability experience equality and dignity within self,</strong></p>
		</div>
		<div class="span8 offset4">
			<p><strong>family and society.”</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<br>
			<br>
			<h3>Mission Statement</h3>
			<br>
		</div>
	

		<div class="span8 offset1">
			<p><strong>To be voice for the voiceless by and for persons with every types of disabilities across the world,  empowering us irrespective of gender, caste, creed, religion, location and nationality for our attainment  of rights, dignity, development, inclusion and independency with respect to self, family and society .</strong></p>
			<br>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<h3>Values</h3>
			<br>
			<br>
		</div>
		<div class="span8 offset2">
			<img src="/assets/about.jpg"  />
			<br>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<h4>Our History</h4>
			<br>
			<br>
		</div>
		<div class="span8 offset2">
			<p><strong>The Leprosy mission Trust India, Set its presence in the district of Tiruvannamalai during the year 2009. TLM begun the project titled Disability Rights through NGO Networking and started working for the empowerment of persons with disabilities based on right based approach.</strong></p><br><br>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<h5>Goal</h5>
			<br>
			<br>
		</div>
		<div class="span8 offset2">
			<p><strong>Equal opportunities and protection of rights of persons affected with leprosy and other disabilities.</strong></p>
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<h4>Objectives</h4>
		</div>
		<div class="span8 offset2">
			<ul>
				<li><p><strong>Sensitization of rights and opportunities.</strong></p></li>
				<li><p><strong>Enabling to access mainstream services.</strong></p></li>
				<li><p><strong>Creating assets to improving  livelihoods</strong></p></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span10">
			<br>
			<br>
			<p><strong>The sustainability strategy of the project is to train and develop persons with disabilities to stand for their own rights. This could be achieved by formation of Disable People’s Organization who address the problem of a person with disability at the grass root level. That is how this federation came to exist.  Eventually, the model evolved as an unique one given its structure, function, growth and sustainability. Today , the federation is successfully functioning in all 18 blocks of Tiruvannamalai with the persons with disabilities have taken ownership of the mandate and the vision being shared across borders. This was registered as society in 2012, with the register number 246/2012.  Mr. Jeyabalan, the Project Consultant of TLM Disability Rights through NGO Networking project and his team and Mr. Vengatesan, the first General Secretary of the federation were instrumental in bringing up this federation</strong></p><br><br>
		</div>
	</div>

	<div class="row">
		<div class="span8">
			<h4>WHAT WE DO</h4>
			<br><br>
		</div>
		<div class="span8">
			<p><strong>Our work is based on the right based approach.</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<br>
			<br>
			<ul>
				<li><p><strong>Advocacy activities.</strong></p></li>
				<li><p><strong>Awareness among the right holders and duty bearers.</strong></p></li>
				<li><p><strong>Training persons with disabilities on rights and entitlements</strong></p></li>
				<li><p><strong>Partnership with Government and NGOs</strong></p></li>
				<li><p><strong>Sustainable livelihood initiatives</strong></p></li>

			</ul>
		</div>
	</div>

	<div class="row">
		<div class="span8">
			<br>
			<br>
			<h4>WHERE WE WORK</h4>
		</div>
		<div class="span8 offset1">
			<p><strong>Currently we are working in all the 18 blocks of Tiruvannamalai District. We will spread across the districts of Tamil Nadu and influence the globe as we grow.</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<br>
			<br>
			<h4>HOW WE WORK</h4>
		</div>
		<div class="span8 offset1">
			<h5>Our Organizational Structure</h5>
			<br><br>
			
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<a href="#" class="btn btn-large btn-primary disabled">District Federation</a>
		</div>
		<div class="span3">
			<a href="#" class="btn btn-large btn-primary disabled">Block Level Federations</a>
		</div>
		<div class="span3">
			<a href="#" class="btn btn-large btn-primary disabled">Village self Advocacy Groups</a><br><br><br>
		</div>

	</div>
	<div class="row">
		<div class="span8">
			<h5>Our Strategy</h5>
		</div>
		<div class="span8">
			<br>
			<br>
			<p><strong>Advocacy:</strong> Advocacy is proved to be very effective by approach. The different types of advocacy are studied and the appropriate type for specific activism is selected to achieve success. Advocacy gives permanent solutions for long standing problems.</p><br>
			<p><strong>Partnership:</strong> Partnership helps us to achieve beyond our capacity. Partnership with government departments proved to be more effective in achieving mutual benefits.</p><br>
			<p><strong>Training :</strong> It is an ongoing process. It takes place at every level, from Village, Block and District. It is needed for our federation members to update their knowledge as they stand for their right and for that of others</p><br>
			<p><strong>Research:</strong> It is necessary to support advocacy activities. We involve in surveys, resource utilizations, socio economic status of persons with disabilities etc., so as to capacitate our advocacy process</p><br>
			<p><strong>Livelihood:</strong> Since economic independence is a felt need for every persons with disabilities, we focus on sustainable livelihood activities.</p><br>
			<p><strong>Self sustainability:</strong> The federation strives to sail independently with external support being reduced constantly and federation members taking ownership and responsibilities for its growth.</p><br>
		</div>
	</div>
	


</div>
