<% provide(:title, 'Contact') %>

<div class="container">
	<div class="row">
		<h1>For any Help ,Please Contact!</h1>
	</div>

	<div class="row">
		<div class="span12">
			<h3>E.Vengatesan,</h3>
			<h5>Secretary,</h5>
			<p><strong>Tiruvannamalai District Federation for the Differently Abled,</strong></p>
			<p>(Govt. Registered No. 246/2012)</p>
			<p>Jaibeem Nagar (opp)., Vellore main road, Vengikkal, Tiruvannamalai - 606602.
			PH: 04175 - 232214. Cell: 8489947606. Email: ourvoice.rights@gmail.com,
			</p>
			<p>Web:<a href="www.abilityfederation.blogspot.in">www.abilityfederation.blogspot.in</a></p>
			<br>
			<br>
			<h3>"NOTHING ABOUT US WITHOUT US"</h3>
		</div>
	</div>
</div>