<% provide(:title, 'Help') %>

<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Refer Here For Any Help in Registration</h1>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>Follow the Procedures exactly to Register For Swayamvaram</h3>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<ul>
				<li><p><strong>At the Home Page Click Register Free!</strong></p></li>
				<li><p><strong>A Registration Page with a form will be displayed, Give your Correct Information in the requested Fields</strong></p></li>
				<li><p><strong>If Any of your information is not satisfied by the Admin, your account will be compromised!</strong></p></li>
				<li><p><strong>Fill all the fields , since all are required!</strong></p></li>
				<li><p><strong>Address fields are integrated with Google Maps API to ease your form filling time.</strong></p></li>
				<li><p><strong>Your profile picture will be automatically rendered from http://wordpress.com/</strong></p></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h3>After Signing in!</h3>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<ul>
				<li><p><strong>After signing in you can upload your recent pictures ,to be viewed by other users.</strong></p></li>
				<li><p><strong>To upload your pictures, click on the Account dropdown button, in the Navigation Bar and click Gallery</strong></p></li>
				<li><p><strong>The uploaded Picture size should not exceed 5MB.</strong></p></li>
				<li><p><strong>Maximum 5 photos are permitted per user.</strong></p></li>
				<li><p><strong>Delete your pictures by clicking the delete link in Profile page.</strong></p></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h3>Editing your Information!</h3>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<ul>
				<li><p><strong>You can edit your account information by clicking Settings in the Account Dropdown button in the Navigation Bar.</strong></p></li>
				<li><p><strong>Password must be re-entered to authorize your editing Information.</strong></p></li>
				
			</ul>
		</div>
	</div>
	<div class="row">
		<div>
			<h4>** Important Information , Search Options will be enabled after the registration of enough Users.</h4>
		</div>
		
	</div>
</div>
