<% provide(:title, 'Our Partners') %>


<div class="container">
	<div class="row">
		<div class="span8 offset1">
			<br>
			<br>
			<h3>Our Partners:</h3>
			<p><strong>The Tamil Nadu State Handicap Federation
			</strong></p>
			<p><strong>District Administration, Tiruvannamalai.
			</strong></p>
			<p><strong>Tiruvannamalai District Federation for Rehabilitation of the disabled. (TDFRD)</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset1">
			<h3>Our Future Plans:</h3>
			<p><strong>To evolve as a model Disable People’s Organization, protecting the rights of persons with disabilities in rural/ urban localities.
			</strong></p>
			<p><strong>Develop as a resource centre, aiming at the holistic development of persons with disabilities.
			</strong></p>
			<p><strong>To address the rights issues of persons with disability with respect to health, education, social, livelihood and empowerment.</strong></p>
			<p><strong>To collaborate with Government departments and rights movements in different sections of society.
			</strong></p>
			<p><strong>To promote inclusive development across all sectors.</strong></p>

		</div>
	</div>
</div>
