<td width="662" align="left" valign="top" style="padding-left:10px;">
                        <table cellpadding="0" cellspacing="1" bgcolor="#87764b" border="0" width="100%">
							<tbody><tr bgcolor="#f9e297">
								<td align="center" colspan="3"><div style=" padding-top:10px; padding-bottom:10px;"><b class="tdgreen"><font size="5px">Star Match - Nakshatra Porutham</font>
								<br><br>This Table is devised with the expert guidance of  Famous and Popular Astronomers and Astrologers
								</b><br><font class="tdgreen">However Opinions differ. We leave the rest to your Discretion.</font></div></td>
							</tr>	
							<tr bgcolor="#f9e297">
								<td align="center" width="200"><b class="tdbrown"><font size="2px">Girls Stars</font></b></td>
								<td align="center" width="450"><b class="tdbrown"><font size="2px">Boys Stars</font></b></td>
								<td align="center" width="200"><b class="tdbrown"><font size="2px">Porutham</font></b></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><b>ASWINI</b><br>(Mesha Rasi)</font></td>
								<td align="center"><font class="tdbrown">Bharani -  Thiruvadhirai -  Poosam -  Anusham -  Pooradam - Thiruvonam -  Sadhayam - Utthrattadhi</font></td>
								<td align="center"><font class="tdbrown">Utthamam - 8</font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center"><font class="tdbrown">Poorattathi -  Avittam -  Uthradam - Visakam - Pooram - Punarpoosam - Mirugaseersham(3&amp;4th Padham) - Chithirai - Rohini - Krithigai(1st Padham)</font></td>
								<td align="center"><font class="tdbrown">Madhyamam - 10</font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><b>BHARANI</b><br>(Mesha Rasi)</font></td>
								<td align="center"><font class="tdbrown">Aswini - Krithigai 1st - Mirugaseersham(3&amp;4th Padham) - Punarpoosam  - Ayilyum -  Chithirai(3&amp;4th Padham) -  Visakam -  Kettai -  Moolam - Uthradam -  Revathi</font></td>
								<td align="center"><font class="tdbrown">Utthamam - 11 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center"><font class="tdbrown">Sadhyam -  Thiruvonam -  Swathi - Thiruvadhirai Krithigai(2,3&amp;4th) - Magam - Visakam(4th)</font></td>
								<td align="center"><font class="tdbrown">Madhyamam - 7 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><b>KRITHIKAI</b><br>1st,Padham(Mesha Rasi)</font></td>
								<td align="center"><font class="tdbrown">Aswini - Bharani - Thiruvadhirai - Poosam - Hastham -Swathi - Anusham - Moolam - Sadhyam - Uthirattadhi</font></td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center"><font class="tdbrown">Mirugaseersham(3&amp;4th Padham) - Maham - Chithirai - Kettai -Avittam - Revathy</font></td>
								<td align="center"><font class="tdbrown">Madhyamam - 6 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>KRITHIKAI</strong><br>
								  2,3,4th Padham<br>
(Rishaba Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Bharani - Poosam - Maham - Swathi -  Anusham-Moolam - Sadhayam - Uthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 9 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Revathy - Avittam - Kettai&nbsp; - Hastham -Pooram<br>
Rohini</td>
								<td align="center"><font class="tdbrown">Madhyamam - 7 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>ROHINI</strong><br>
								  (Rishaba Rasi)</font></td>
								<td align="center" class="tdbrown">Bharani - Krithikai - Mirugaseerusham&nbsp;  -Punarpoosam(4th  Padham) - Ayilyum - Utthiram(1st  Padham) - Chithirai(3&amp;4th  Padham) -Visakam - Kettai - Uthradam - Avittam -  Poorattathi - Revathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 13 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Uthirattathi - Anusham - Poosam -&nbsp;<br>
Punarpoosam(1,2&amp;3rd  Padham) - Aswini</td>
								<td align="center"><font class="tdbrown">Madhyamam - 5 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>MIRUGASEERSHAM</strong><br>
								  1&amp;2nd Padham<br>
(Rishaba Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Krithigai - Rohini - Poosam - Uthiram 1st-  Anusham - Moolam - Uthradam(2,3&amp;4th) - Thiruvonam  -Sadhayam - Uthrattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 11 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Revathi - Poorattathi - Kettai - Visagam - Ayilyum -  Swathi - Punarpoosam(4th  Padham) - Bharani - Pooradam</td>
								<td align="center"><font class="tdbrown">Madhyamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>MIRUGASEERSHAM</strong><br>
								  3&amp;4th Padham<br>
(Mithuna Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Krithigai - Rohini - Thiruvadhirai -  Uthiram -Hastham - Anusham - Moolam - Uthiradam 1 - Thiruvonam -  Sadhyam-Uthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 12 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Revathy - Poorattathi - Kettai - Swati - Visakam - Poosam  - Pooradam - Punarpoosam(1,2&amp;3th  Padham) -&nbsp; Bharani</td>
								<td align="center"><font class="tdbrown">Madhyamam - 9 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>THIRUVADHIRAI</strong><br>
								  (Mithuna Rasi)</font></td>
								<td align="center" class="tdbrown">Bharani - Mirugaseersham - Punarpoosam(1,2&amp;3rd)-Pooram - Chithirai(1&amp;2nd  Padham) - Pooradam - Avittam-Visakam(4th) - Poorattathi -  Revathy</td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Uthrattathi - Uthradam - Moolam -&nbsp; Uthram -  Magam Punarpoosam 4th - Krithigai - Aswini</td>
								<td align="center"><font class="tdbrown">Madhyamam - 8 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>PUNARPOOSAM</strong><br>
								  1,2,3rd Padham<br>
(Mithuna Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Mirugaseersham - Thiruvadhirai -  Poosam-Chithirai (1&amp;2nd  Padham) - Anusham - Moolam -  Avittam - Sadhyam-Uthrattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Revathi - Thiruvonam - Pooradam - Kettai - Hastham -  Poosam - Ayilyum - Chithirai(3&amp;4th  Padham) - Swathi - Rohini</td>
								<td align="center"><font class="tdbrown">Madhyamam - 10</font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>PUNARPOOSAM</strong><br>
								  4th Padham<br>
(Kadaka Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Mirugaseersham - Thituvadhirai -&nbsp;  Poosam Chithirai - Swathi - Anusham - Moolam - Avittam&nbsp; - Uthrattathi -  Sadhayam</td>
								<td align="center"><font class="tdbrown">Utthamam - 11 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Revathy - Thiruvonam - Kettai - Pooradam - Hastham -  Ayilyum - Rohini - Bharani</td>
								<td align="center"><font class="tdbrown">Madhyamam - 8 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>POOSAM</strong><br>
								  (Kadaka Rasi)</font></td>
								<td align="center" class="tdbrown">Rohini - Thiruvadhirai -Punarpoosam -  Ayilyum-Hastham - Swathi - Visakam - Poorattathi&nbsp; - Revathi Sadhayam</td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Aswini - Krithigai - Mirugaseersham - Uthiram -  Chithirai - Moolam - Uthradam (2,3&amp;4th  Padham) - Avittam - Magam</td>
								<td align="center"><font class="tdbrown">Madhyamam - 9 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>AYILYUM</strong><br>
								  (Kadaka Rasi)</font></td>
								<td align="center" class="tdbrown">Krithigai -&nbsp; Mirugaseershm - Punarpoosam  -Poosam -Chithirai -Visakam(1,2&amp;3rd  Padham) - Anusham -Avittam - Poorattathi -  Utthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Bharani -Rohini -Thiruvadhirai -Hastham -Uthiram(2,3&amp;4th  Padham)-Uthradam -Thiruvonam - Sadhayam</td>
								<td align="center"><font class="tdbrown">Madhyamam -8 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>MAGAM</strong><br>
								  (Simma Rasi)</font></td>
								<td align="center" class="tdbrown">Bharani -Thiruvadhirai -Poosam - Swathi -Anusham  -Thiruvonam -Sadhayam -Utthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 8</font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Krithigai - Pooram - Chithirai(3&amp;4th  Padham) - Hastham Avittam - Poorattathi</td>
								<td align="center"><font class="tdbrown">Madhyamam - 6 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>POORAM</strong><br>
								  (Simma Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Krithigai - Thiruvadhirai - Magam -Uthiram1  -Chithirai3&amp;4&nbsp;- Visakam - Kettai -Uthradam(2.3&amp;4th  Padham)  -&nbsp; Avittam - Poorattathi - Revathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 12 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Thiruvadhirai - Swathi - Moolam - Thiruvonam -  Sadhayam</td>
								<td align="center"><font class="tdbrown">Madhyamam - 5 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>UTHIRAM</strong><br>
								  Ist Padham<br>
(Simma Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Bharani - Rohini -Thiruvadhirai -Poosam -  Magam - Pooram - Swathi - Anusham -Thiruvonam - Sadhayam - Utthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 12 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Revathi -Avittam -Kettai - Ayilyum -Mirugaseerusham  - Pooradam - Moolam&nbsp;</td>
								<td align="center"><font class="tdbrown">Madhyamam - 7 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>UTHIRAM</strong><br>
								  2,3&amp;4 Padham<br>
(Kanni &nbsp;Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini -Bharani -Rohini -Thiruvadhirai -Poosam  -Magam -Pooram - Hastham -Anusham -Moolam -Pooradam -Sadhayam -Utthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 13 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Revathi -Avittam(3&amp;4th  Padham) - Kettai - Swarhi - Ayilyum -Mirugaseerusham</td>
								<td align="center"><font class="tdbrown">Madhyamam - 6 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>HASTHAM</strong><br>
								  (Kanni Rasi)</font></td>
								<td align="center" class="tdbrown">Bharani - Krithigai - Mirugaseerusham -Punarpoosam -  Ayilyum - Pooram - Uthiram -Chithirai(1&amp;2nd  Padham) - Visakam(4th  Padham) - Kettai - Pooradam -<u>Uthradam</u>(1st  Padham) - Avittam(3&amp;4th  Padham) - Poorattathi -Revathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 15 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Poosam - Magam - Anusham - Uthirattadhi</td>
								<td align="center"><font class="tdbrown">Madhyamam - 4 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>CHITHIRAI</strong><br>
								  1&amp;2nd Padham<br>
(Kanni Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini -Krithigai -Rohini -Thiruvadhirai -Poosam  -Magam -Hastham -Anusham -Moolam -Sadhayam</td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Revathi - Visakam - Pooram -Ayilyum -Punarpoosam -  Bharani</td>
								<td align="center"><font class="tdbrown">Madhyamam - 6 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>CHITHIRAI</strong><br>
								  3&amp;4th Padha<br>
(Thulam Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini -Krithigai -Rohini -Thiruvadhirai -Poosam  Hastham - Swathi -Moolam -Thiruvonam</td>
								<td align="center"><font class="tdbrown">Utthamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Revathi - Visakam - Pooram - Kettai = Ayilyum  -&nbsp; Punarpoosam -Bharani</td>
								<td align="center"><font class="tdbrown">Madhyamam - 7 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>SWATHI&nbsp;</strong><br>
								  (Thulam Rasi)</font></td>
								<td align="center" class="tdbrown">Bharani - Mirugaseerusham(3&amp;4th  Padham) - Punarpoosam -Ayilyum - Kettai - Pooradam -  Pooram - Chithirai - Visakam - Revathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Utthirattathi - Uthiram - Uthradam - Krithigai&nbsp;<br>
Poosam - Magam - Moolam - Poorattadhi&nbsp;<br>
Avittam(1&amp;2nd  Padham)</td>
								<td align="center"><font class="tdbrown">Madhyamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>VISAKAM</strong>&nbsp;<br>
								  1,2,3rd Padham<br>
(Thulam Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Mirugaseerusham - Thiruvadhirai -Poosam -  Magam - Chithirai - Swathi - Moolam -Avittam(1&amp;2nd  Pada).</td>
								<td align="center"><font class="tdbrown">Utthamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Revathi - Hastham - Pooram - Ayilyum - Rohini -Bharani  - Anusham - Kettai - Avittam(3&amp;4th  Padham) - Sadhayam</td>
								<td align="center"><font class="tdbrown">Madhyamam - 10</font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>VISAKAM&nbsp;</strong><br>
								  4th Padham<br>
(Vrichika Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Mirugaseerusham - Thiruvadhirai -Poosam -  Magam - Chithirai - Swathi - Anusham -Moolam -Avittam -Sadhayam</td>
								<td align="center"><font class="tdbrown">Utthamam - 11 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Kettai - Hastham - Pooram - Rohini -  Bharani&nbsp;&nbsp;&nbsp;<br>
Ayilyum - Revathy</td>
								<td align="center"><font class="tdbrown">Madhyamam - 7 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>ANUSHAM&nbsp;</strong><br>
								  (Vrichika Rasi)</font></td>
								<td align="center" class="tdbrown">Rohini - Punarpoosam - Ayilyum - Hastham -Swathi -  Visakam&nbsp; - Sadhayam - Thiruvonam -Poorattathi(1,2&amp;3rd  Padham) </td>
								<td align="center"><font class="tdbrown">Utthamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Revathy - Poorattadhi - Kettai - Chithirai -  Uthradam 2,3&amp;4 - Uthiram - Magam -Mirugaseerusham - Krithigai - Aswini</td>
								<td align="center"><font class="tdbrown">Madhyamam - 10</font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>KETTAI</strong><br>
								  (Vrichika Rasi)</font></td>
								<td align="center" class="tdbrown">Krithigai -Mirugaseerusham -Punarpoosam -Poosam  -Uthiram - Chithirai -Visakam -Anusham -Avittam</td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Uthirattadhi - Poorattadhi - Thiruvonam - Uthradam -  Hastham - Swathi - Pooram -Rohini -Bharani</td>
								<td align="center"><font class="tdbrown">Madhyamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>MOOLAM&nbsp;</strong><br>
								  (Dhanusu Rasi)</font></td>
								<td align="center" class="tdbrown">Thiruvadhirai -Poosam -Pooram -Hastham -Swathi  -Sadhayam</td>
								<td align="center"><font class="tdbrown">Utthamam - 6 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Utthirattathi -Visakam -Chithirai -Uthiram  -Punarpoosam - Mirugaseerusham(3&amp;4th  Padham) - Pooradam Thiruvonam - Avittam</td>
								<td align="center"><font class="tdbrown">Madhyamam - 9 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>POORADAM</strong><br>
								  (Dhanusu Rasi)</font></td>
								<td align="center" class="tdbrown">Mirugaseersham - Punarpoosam (1,2&amp;3rd   Padham) -&nbsp; Magam -Uthiram - Chithirai&nbsp; -  Visakam -Kettai - Moolam - Uthradam 1st&nbsp; - Poorattathi - Revathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 11 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Thiruvadhirai - Ayilyum - Punarpoosam 4th -&nbsp;  Hastham -Swathi - Uthradam (2,3&amp;4th  Padham) - Thiruvonam - Avittam</td>
								<td align="center"><font class="tdbrown">Madhyamam - 8 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>UTHRADAM&nbsp;</strong><br>
								  1st,Padham<br>
(Dhanusu Rasi)</font></td>
								<td align="center" class="tdbrown">Thiruvadhirai - Poosam - Magam - Pooram -Hastham -  Swathi - Anusham - Moolam - Pooradam - Sadhayam - Utthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 11 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Aswini - Bharani - Mirugaseerusham - Ayilyum -  Kettai - Thiruvonam - Avittam - Revathy</td>
								<td align="center"><font class="tdbrown">Madhyamam - 8 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>UTHRADAM&nbsp;</strong><br>
								  2,3,4th Padham<br>
(Mahara Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Bharani - Poosam - Magam - Pooram -Hastham  - Swathi - Anusham -Moolam<br>
Pooradam - Thiruvonam -Sadhayam -Utthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 13 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Rohini - Ayilyum - Kettai - Avittam - Revathy</td>
								<td align="center"><font class="tdbrown">Madhyamam - 5 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>THIRUVONAM&nbsp;</strong><br>
								  (Mahara Rasi)</font></td>
								<td align="center" class="tdbrown">Bharani - Mirugaseerusham - Punarpoosam -Ayilyum  -Uthiram(2,3&amp;4th  Padham) - Chithirai - Pooram  - Visakam -Kettai -Pooradam - Uthradam - Avittam -Poorattathi - Revathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 12 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Magam - Pooram - Uthiram 1 - Anusham - Moolam -  Uthirattadhi</td>
								<td align="center"><font class="tdbrown">Madhyamam - 6 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>AVITTAM</strong>&nbsp;<br>
								  1&amp;2nd Padham<br>
(Mahara Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Krithigai - Poosam - Uthiram(2,3&amp;4th  Padham)  - Hastham - Swathi - Anusham&nbsp;- Moolam -Uthradam Thiruvonam -Sadhayam</td>
								<td align="center"><font class="tdbrown">Utthamam - 11 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Utthirattathi -Pooradam -Visakam -Ayilyum  -Punarpoosam - Krithigai2,3&amp;4 - Kettai - Uthram - Magam</td>
								<td align="center"><font class="tdbrown">Madhyamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>AVITTAM</strong><strong>&nbsp;</strong><br>
								  3&amp;4th,Padham<br>
(Kumba Rasi)</font></td>
								<td align="center" class="tdbrown">Krithigai - Poosam - Magam - Uthram - Hastham  - Swathi - Anusham - Moolam - Uthradam - Thiruvonam - Sadhayam</td>
								<td align="center"><font class="tdbrown">Utthamam - 11 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Pooradam - Kettai - Visakam - Pooram - Ayilyum  - Punarpoosam 4 - Thiruvadhirai - Rohini - Aswini<br>
Uthirattadhi</td>
								<td align="center"><font class="tdbrown">Madhyamam - 10</font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>SADHAYAM</strong><strong>&nbsp;</strong><br>
								  (Kumba Rasi)</font></td>
								<td align="center" class="tdbrown">Mirugaseerusham - Punarpoosam - Ayilyum  -Pooram - Chithirai - Visakam - Kettai - Pooradam Avittam -&nbsp;</td>
								<td align="center"><font class="tdbrown">Utthamam - 9 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Revathi - Poorattathi - Uthradam - Moolam  -Anusham - Uthiram - Poosam - Ponarpoosam -&nbsp;Aswini</td>
								<td align="center"><font class="tdbrown">Madhyamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>POORATTATHI</strong><strong>&nbsp;</strong><br>
								  1,2,3rd Padham<br>
(Kumba Rasi)</font></td>
								<td align="center" class="tdbrown">Aswini - Mirugaseerusham 1&amp;2 - Poosam -  Magam Chithirai - Swathi - Anusham&nbsp; - Moolam - Avittam Sadhayam</td>
								<td align="center"><font class="tdbrown">Utthamam - 10 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Utthirattathi -Thiruvonam - Pooradam - Kettai  -Anusham - Hastham - Ayilyum&nbsp;</td>
								<td align="center"><font class="tdbrown">Madhyamam - 7 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>POORATTATHI</strong><strong>&nbsp;</strong><br>
								  4th, Padham<br>
(Meena Rasi)</font></td>
								<td align="center" class="tdbrown">Mirugaseerusham - Thiruvadhirai - Chithirai  1&amp;2 -Anusham&nbsp; - Moolam - Avittam - Sadhayam -Utthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 8 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Thiruvonam - Pooradam - Kettai - Hastham  -Poosam - Swathi</td>
								<td align="center"><font class="tdbrown">Madhyamam - 6 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>UTTHIRATTATHI</strong><br>
								  (Meena Rasi)</font></td>
								<td align="center" class="tdbrown">Rohini - Thiruvadhirai - Punarpoosam 2&amp;3  -Hastham - Kettai - Thiruvonam - Sadhayam - Poorattathi&nbsp; - Revathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 9 </font></td>
							</tr>
							<tr bgcolor="#FFFFFF">
								<td align="center" class="tdbrown">Avittam - Uthradam - Moolam - Swathi -Ayilyum  Uthram 3&amp;4 - Punarpoosam 4th - Krithigai 2,3&amp;4</td>
								<td align="center"><font class="tdbrown">Madhyamam - 8 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" rowspan="2"><font class="tdbrown"><strong>REVATHI</strong><strong>&nbsp;</strong><br>
								  (Meena rasi)</font></td>
								<td align="center" class="tdbrown">Krithigai 2,3&amp;4 - Mirugaseerusham  -Punarpoosam 1,2 &amp;3 - Uthiram 2,3&amp;4 - Chithirai 1&amp;2 - Visakam  -Anusham - Uthradam - Utthirattathi</td>
								<td align="center"><font class="tdbrown">Utthamam - 9 </font></td>
							</tr>
							<tr bgcolor="#fbf2d5">
								<td align="center" class="tdbrown">Sadhayam - Thiruvonam - Visakam - Hastham  -Poosam - Pooradam - Punarpoosam 4th - Rohini -Krithigai 1st.</td>
								<td align="center"><font class="tdbrown">Madhyamam -9 </font></td>
							</tr>
							
							</tbody></table>
                          </td>