<footer class="footer">
  <small>
    <a href="#">&copy;2013 Shree Geeta Bhavan Trust</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Developer", 'https://twitter.com/karthy07', :target => '_blank' %></li>
    </ul>
  </nav>
</footer>